.container {
  position: sticky;
  display: flex;
  gap: 20px;
  align-items: center;
}

.dropdown-container {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 40px;
  left: 0;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  z-index: 10;
  padding: 5px 0;
  width: 220px; /* Adjusted width for more space */
  max-height: 200px; /* Maximum height before scrolling */
  overflow-y: auto; /* Scrollbar for overflow content */
}

.dropdown-item {
  display: flex;
  justify-content: space-between; /* Align icon to the right */
  align-items: center; /* Vertically align text and icon */
  padding: 6px 12px; /* Reduced padding for a slimmer look */
  color: #333;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.2s ease, color 0.2s ease;
  cursor: pointer;
}

.dropdown-item i {
  font-size: 18px; /* Adjusted icon size */
  color: #888; /* Icon color */
  margin-left: 10px; /* Spacing between text and icon */
}

.dropdown-item:hover {
  background-color: #f4f4f9;
  color: #007bff;
}

.dropdown-item:hover i {
  color: #007bff; /* Change icon color on hover */
}

.material-icons {
  vertical-align: middle;
}
