<div class="container">
  <!-- Explanation Button with Dropdown -->
  <div class="dropdown-container">
    <button mat-button (click)="toggleExplanationMenu()">
      Explanation
      <i class="material-icons">arrow_drop_down</i>
    </button>
    <div *ngIf="isExplanationMenuActive" class="dropdown-menu">
      <a *ngFor="let item of menuItems" [routerLink]="item.url" class="dropdown-item">
        {{ item.name }}
      </a>
    </div>
  </div>
    
    <!-- Other Buttons -->
    <button mat-button>Quiz</button>
    <button mat-button>Cloz Test</button>
    <button mat-button>True And False</button>
    <button mat-button>Single Questions Answers</button>
    <button mat-button>Comprehernsive Questions Answers</button>
  </div>

<router-outlet></router-outlet>
